importFrom("grDevices", "rgb")
importFrom("graphics", "abline", "arrows", "clip", "legend", "lines",
             "locator", "par", "plot", "points", "polygon", "segments",
             "text")
importFrom("methods", "existsFunction")
importFrom("stats", "approx", "confint", "loess", "na.omit", "pchisq",
             "plogis", "predict", "quantile", "supsmu","pnorm", "qnorm", "qt")
importFrom("utils", "getFromNamespace")
import(rms)
export(val.prob.ci.2)
