importFrom("grDevices", "rgb")
importFrom("graphics", "abline", "arrows", "clip", "legend", "lines",
             "locator", "par", "plot", "points", "polygon", "segments",
             "text")
importFrom("methods", "existsFunction")
importFrom("stats", "approx", "confint", "loess", "na.omit", "pchisq",
             "plogis", "predict", "quantile", "supsmu","pnorm", "qnorm", "qt", "binomial", "coef", "lm", "glm",
           "fitted", "glm.control")
importFrom("utils", "getFromNamespace")
importFrom("Hmisc", "cut2", "groupn", "label", "rcspline.eval")
importFrom("survival", "coxph.control")
importFrom("bookdown", "html_document2")
importFrom("rstudioapi", "jobRunScript")
importFrom("utils", "sessionInfo")
import(rms)
import(ggplot2)
export(val.prob.ci.2)
export(valProbggplot)
export(genCalCurve)
export("%<=%")
export("%{}%")
export(LibraryM)
S3method(print, CalibrationCurve)
S3method(print, ggplotCalibrationCurve)
S3method(print, GeneralizedCalibrationCurve)
