importFrom("grDevices", "rgb")
importFrom("graphics", "abline", "arrows", "clip", "legend", "lines",
             "locator", "par", "plot", "points", "polygon", "segments",
             "text", "persp")
importFrom("methods", "existsFunction")
importFrom("stats", "approx", "confint", "loess", "na.omit", "pchisq",
            "plogis", "predict", "quantile", "supsmu","pnorm", "qnorm", "qt", "binomial", "coef", "lm", "glm",
           "fitted", "glm.control", "vcov", "setNames", "update",
           "loess.control", "model.matrix", "optimize", "qlogis", "sd", "var")
importFrom("utils", "getFromNamespace")
importFrom("Hmisc", "cut2", "groupn", "label", "rcspline.eval")
importFrom("survival", "coxph", "coxph.control", "concordance", "survfit")
importFrom("timeROC", "timeROC")
importFrom("riskRegression", "predictRisk", "Score")
importFrom("bookdown", "html_document2")
importFrom("rstudioapi", "jobRunScript")
importFrom("utils", "sessionInfo", "vi", "globalVariables")
importFrom("meta", "metaprop", "metagen")
importFrom("metafor", "escalc", "rma.mv")
importFrom("zoo", "na.approx")
importFrom("lme4", "glmer", "VarCorr")
importFrom("merTools", "predictInterval")
importFrom("dplyr", "filter", "mutate", "group_by", "ungroup", "ntile", "summarise", "n")
importFrom("magrittr", "%>%")
import(rms)
import(ggplot2)
export(val.prob.ci.2)
export(valProbggplot)
export(genCalCurve)
export(valProbSurvival)
export(valProbCluster)
export("%<=%")
export("%{}%")
export(LibraryM)
S3method(print, CalibrationCurve)
S3method(print, ggplotCalibrationCurve)
S3method(print, GeneralizedCalibrationCurve)
S3method(print, SurvivalCalibrationCurve)
S3method(print, ClusteredCalibrationCurve)
